*.cmake
*.csv
*.bag
*.html
*Cache.txt
/Intel*RealSense*D435I
/Intel*RealSense*T265
/Recorder/build
*__pycache__
/.vscode
/Records/Rosbag
/Records/Csv
/Records/targetRecords.txt
/Recorder/Records
/Records/*
/Health_Check/*
!/Health_Check/health_check.py
/Packager/Packages/*
/Recorder/Final/CMakeFiles/*
/Recorder/application/Recorder/CMakeFiles/*

